/* CARDS */
.marginCards{
    margin: 1rem;
    box-shadow: 4px 4px 5px $background-color_1;
}
.momento {
	background-color: $background-color_1;
	border-radius: 2rem;
	border: none;
	width: 28rem;
	margin-bottom: 1rem;
}

